<%-include partials/header.ejs%>
<%-include partials/main_nav.ejs%>
  

  
  <h1><%= title %></h1>
   <p>Welcome to <%= title %></p>
<p>Contact us using the following details: <br><b>Phone Number:222-3456-7865. <br>Email:ddf@yahoo.com.</b></p>

   <%-include partials/bottom_nav.ejs%>
<%-include partials/footer.ejs%>   

